<section class="heading">
    <span class="page-title font-weight-bold font-italic">[{{title}}]</span>
</section>
<table class="table table-sm table-striped">
    <thead>
        <tr>
        <th>
            ID
        </th>
        <th>
            Actor ID
        </th>
        <th>
            Movie ID
        </th>
        <th>
            Role
        </th>
    </tr>
    </thead>
    <tbody>
        <tr  *ngFor='let credit of credits'>
            <td>{{credit.id}}</td>
            <td>{{credit.movie.title}}</td>
            <td>{{credit.movie.year}}</td>
            <td>{{credit.movie.rating}}</td>
            <td>{{credit.movie.director}}</td>
            <td>{{credit.actor.firstName}}</td>
            <td>{{credit.actor.lastName}}</td>
            <td>{{credit.actor.gender}}</td>
            <td>{{credit.actor.birthDate}}</td>
            <td>Detail | Edit</td>
    </tr>
    </tbody>
</table>
